<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <h1>
            <%=title%> HII
        </h1>
        <h1>
            cats legnth: <%=cats.cats.length%>
        </h1>
    </body>
</html>